*~
*.o
*.mo
test-rng
test-pulse-F
write-pulse
frb-compare
frb-dump
libfrb_olympics.so
frb_olympics_c.cpp
frb_olympics_c.so
libfrb_notes.aux
libfrb_notes.log
libfrb_notes.pdf
pulse1
TODO
Makefile.local
