*~
*.pyc
Makefile.local
examples/example0_bonsai/example0_bonsai_config_n2048.hdf5
examples/example0_bonsai/example0_bonsai_config_n4096.hdf5
examples/example0_bonsai/example0.json
examples/example0_bonsai/example0_snr_vs_dm.pdf
