# Directory where scripts will be installed (e.g. frb-compare.py)
BINDIR=$(HOME)/bin

# Directory where C++ libraries will be installed (e.g. libfrb_olympics.so)
LIBDIR=$(HOME)/lib

# Directory where C++ header files will be installed (e.g. frb_olympics.hpp)
INCDIR=$(HOME)/include

# Directory where Python modules will be installed
PYDIR=$(HOME)/lib/python

#
# C++ command line
# The -I/usr/include/python2.7 is needed for cython (you may need to substitute the path to your python installation)
# The -I$(HOME)/include -L$(HOME)/lib is so that the compiler can find Jon Sievers' dedispersion code (jstree.h and libjstree.so)
#
CPP=g++ -Wall -Wno-pragmas -Wno-strict-aliasing -Wno-unused-local-typedefs -O3 -ffast-math -funroll-loops -fPIC -I/usr/include/python2.7 -I$(HOME)/include -L$(HOME)/lib
